/* 主容器 */
#container{
    width: inherit;
    height: inherit;
    position: relative;
}
/* 左容器 导航 */
#left-nav{
    position: relative;
    top:4px;
    width:15%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}
    #title{
        box-shadow:1px 1px 2px gray;
        background: lightgrey;
        font-size:20px;
        font-weight: bold;
        height: 30px;
        width: 105%;
        float: left;
        position: absolute;
        top: 3px;
        left: 0;
    }
    .direc0,.direc1,.direc2{
        width:14px;
        height: 14px;
        vertical-align: middle;
    }
    /* 一级菜单 */
     #nav{
         float: left;
         width: 105%;
         height: 600px;
         position: absolute;
         top: 43px;
         left: 0;
         -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
         box-sizing: border-box;
         border:1px solid darkslategray;
         box-shadow: darkgrey 10px 10px 30px 5px
     }
     .first-nav,.sec-nav,.third-nav,.forth-nav{
         position: relative;
         left: 10px;
         top:0;
         list-style: none;
         width: inherit;
     }
        .first-nav li:nth-child(0),:nth-child(1),:last-child{
            cursor: pointer;
            margiin-top: 5px;
            padding-left: 3px;
            font-size: large;
            text-align: left;

        }
        .sec-nav li:nth-child(0),:nth-child(1),:nth-child(2),:last-child{
            font-family: sans-serif;
            padding: 5px 0px;
            text-align: left;
            vertical-align: middle;
            font-size: 15px;
        }
        .forth-nav {
            width:100%;
        }
        .nav2-2,.nav4,.nav3{
             display: none;
            font-weight: bold;
            width:120%;
            text-align: center;
        }
/* 右容器 内容 */
#right-content{
    font-size: 16px;
    position: absolute;
    width: 80%;
    height: 600px;
    left: 300px;
    top:30px;
    cursor: text;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: darkgrey 10px 10px 30px 5px;
    background: whitesmoke;
}
    #right-content p{
        padding: 5px;
        margin: 20px 30px;
        font-family: sans-serif;
        font-size: large;
    }
   #right-content b{
        vertical-align: bottom;
        font-size: 17px;
       text-align: center;
       display: inline;
    }
    #right-content h1{
        font-weight: bold;
        font-size: larger;
        margin: 10px;
    }
